
{{ attach_library('athex/views') }}

<div>
	<header>
		<div class="container">
			{# TODO #}
		</div>
	</header>

	<div class="container">

		{{filters}}

		{{index}}

		<div class="mini-pager"></div>

		{{table}}

		{{pager}}

	</div>
</div>
