{# web/core/themes/stable9/templates/layout/region.html.twig #}

{{ attach_library('athex/main_menu') }}

{% if content %}
	<div class="container">
		<div class="row" {{ attributes }}>

			<div class="main-menu col-12">
				<div class="row menu">
					<div class="site-branding col-2">
						{{ elements['athex_sitebranding']['#markup'] }}
					</div>


					<div class="search-form col-2">
						<span class="search-icon"></span>
						<div class="hidden">
							{{ elements['athex_searchform']['#markup'] }}
						</div>
					</div>

					<div class="col-2 burger-btn">
						<button class="navbar-toggler" type="button" aria-controls="{{attributes.id}}" aria-expanded="false" aria-label="Toggle navigation">
							<span class="burger-icon"></span>
						</button>
					</div>
				</div>

				<div class="row burger-mobile">
					<div class="nav-menu col-8">
						{{ elements['athex_main_menu']['#markup'] }}
					</div>
				</div>
			</div>

			<hr>

			<div class="col-12 top-links-wrapper">
				<div class="top-links">
					{% for key, element in elements %}
						{% if
							element['#markup']
							and key not in [
								'athex_sitebranding',
								'athex_searchform',
								'athex_main_menu'
							]
						%}
							<div class={{key}} >{{ element['#markup'] }}</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endif %}
