{# web/core/themes/stable9/templates/layout/region.html.twig #}

{{ attach_library('athex/main_menu') }}

{% if content %}
	<div class="container">
		<div class="row" {{ attributes }}>

			<div class="logo-search col-10">
				<div class="row">
					<div class="site-branding col-10">
						{{ elements['athex_sitebranding']['#markup'] }}
					</div>

					<div class="search-form col-2">
						<span class="search-icon"></span>
						<div class="hidden">
							{{ elements['athex_searchform']['#markup'] }}
						</div>
					</div>
				</div>
			</div>

			<button class="navbar-toggler col-2" type="button" aria-controls="{{attributes.id}}" aria-expanded="false" aria-label="Toggle navigation">
				<div class="burger-icon-wrapper">
					<span class="burger-icon"></span>
				</div>
			</button>

			<hr>

			<div class="burger-mobile col-12">
				<div class="main-menu">
					{{ elements['athex_main_menu']['#markup'] }}
				</div>

				<hr>

				<div class="top-links">
					{% for key, element in elements %}
						{% if
							element['#markup']
							and key not in [
								'athex_sitebranding',
								'athex_searchform',
								'athex_main_menu'
							]
						%}
							<div class={{key}} >{{ element['#markup'] }}</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
{% endif %}
