{{ attach_library('athex/news_press_view') }}

{%
    set classes = [
        dom_id ? 'js-view-dom-id-' ~ dom_id,
        'viewNewsPress container familyNeutra'
    ]
%}

<div{{attributes.addClass(classes)}}>
	<div class="row">
		{% if exposed %}
			<div class="col-12">
				{{ exposed }}
			</div>
		{% endif %}
		{% if rows %}
			<div class="col-12 viewsColWrapper">
				<div class="newsPressItemsWrapper">
					{{ rows }}
				</div>
				<div class="controls-wrapper">
				<div class="more-link-view">
					{{ footer }}
				</div>
				<div class="controls" id="customize-controls-view" aria-label="Carousel Navigation" tabindex="0">
					<span class="prev" data-controls="prev" aria-controls="customize" tabindex="-1"></span>
					<span class="next" data-controls="next" aria-controls="customize" tabindex="-1"></span>
				</div>
				</div>
			</div>
		{% else %}
			<style>
				.blogItemWrapper .blogItemRelatedHeading,
				.blogItemRelatedBlock .paginator {
					display: none;
				}
			</style>
		{% endif %}
	</div>
