{# web/core/themes/stable9/templates/navigation/menu.html.twig #}

{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level, submenu_counter = 0) %}
    {% import _self as menus %}
    {% if items %}
        {% if menu_level == 0 %}
            <ul class="top-level col-8" {{ attributes }}>
        {% else %}

            <ul>
        {% endif %}
        {% for item in items %}
            <li class="col" {{ item.attributes }}>
                {% if item.below %}
                    {% set submenu_counter = submenu_counter + 1 %}
                    <span class="menu-title menu-title-depth-{{ menu_level + 1 }}">{{ item.title }}</span>
                    <div class="sub-menu submenu-{{ submenu_counter }} depth-{{ menu_level + 1 }}">
                        {% if item.url %}
                            {% if item.below %}
							 <div class="back">
                <span class="back-icon"></span>
                <button class="back-button">Main Menu</button>
				<a class="titleMenuMob" href="{{ item.url }}"> {{ 'Explore @title' | t ({'@title': item.title}) }} </a>
            </div>
							<a class="titleMenu" href="{{ item.url }}"> {{ 'Explore @title' | t ({'@title': item.title}) }} </a>
                            {% else %}
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            {% endif %}
                        {% endif %}
                        {{ menus.menu_links(item.below, attributes, menu_level + 1, submenu_counter) }}
                    </div>
                    <span class="menu-item-arrow"></span>
                {% else %}
                    <a href="{{ item.url }}">{{ item.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

