{# web/core/themes/stable9/templates/navigation/menu.html.twig #}

{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
	{% import _self as menus %}
	{% if items %}
		{% if menu_level == 0 %}
			<ul{{ attributes }}>
		{% else %}
			<button class="back-button">Back</button>
			<ul>
		{% endif %}
		{% for item in items %}
			<li{{ item.attributes }}>
				{% if item.below %}
					<span>{{item.title}}</span>
					<div>
						{% if item.url %}
							{% if item.below %}
								<a href="{{item.url}}">Explore {{item.title}}</a>
							{% else %}
								<a href="{{item.url}}">{{item.title}}</a>
							{% endif %}
						{% endif %}
						{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
					</div>
				{% else %}
					<a href="{{item.url}}">{{item.title}}</a>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}
