<div class="is_Wrapper">
	<div class="is_Symbol">{{symbol}}</div>
	<div class="col_Wrapper">
		<div class="is_Value">{{value}}
			EUR</div>
		<div class="is_Title">Since Open</div>
		<div class="col_textWrapper">
			<div class="is_sValue">{{since_open_value}}</div>
			<div class="is_ValuePercentage">{{since_open_percentage}}
				%</div>
		</div>
		<div class="is_Title">Since Previous Closed</div>
		<div class="col_textWrapper">
			<div class="is_sValue">{{since_close_value}}</div>
			<div class="is_ValuePercentage">{{since_close_percentage}}
				%</div>
		</div>
	</div>
</div>


