{# web/core/themes/stable9/templates/content/node.html.twig #}

{{ attach_library('athex/solutions') }}

{% set selectedColor = content.field_si_color.0['#markup'] %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mini-title subheading weightLight textColorPurple7">{{content.field_mini_title}}</div>
        </div>
        <div class="col-12 col-lg-8">
            {% if selectedColor == 'Blue' %}
                <h1 class="heading8 weightDemi textColorPurple solNodeTitle">{{ node.title.value }}</h1>
            {% elseif selectedColor == 'Green' %}
                <h1 class="heading8 weightDemi greenTextColor solNodeTitle">{{ node.title.value }}</h1>
            {% endif %}
            <div class="solBody body2 weightBook textColorBlackDark">{{content.field_si_body}}</div>
            <span class="siCta">{{content.field_si_call_to_action}}</span>
        </div>
        <div class="col-lg-4 padding-none scrollBtn">
            {% if selectedColor == 'Blue' %}
                <div class="btnShare cta3 textColorWhite weightBold blueBtn">{{content.field_si_demo_button}}</div>
            {% elseif selectedColor == 'Green' %}
                <div class="btnShare  cta3 textColorWhite weightBold greenBtn">{{content.field_si_demo_button}}</div>
            {% endif %}
        </div>
        <div class="col-12 ">
            <div class="solCategories">
                <span>{{content.field_category_referes}}</span>
            </div>
        </div>
        <div class="col-lg-12 padding-none">
            {% if selectedColor == 'Blue' %}
                <div class="image_container scrollBtn bgBlueGradient">
                    <div class="solImage">{{content.field_si_image}}</div>
                </div>
            {% elseif selectedColor == 'Green' %}
                <div class="image_container scrollBtn bgGreenGradient">
                    <div class="solImage">{{content.field_si_image}}</div>
                </div>
        	{% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section">
				{% if content.field_si_download_link|render|striptags|trim is not empty %}
					<div class="downloadBtn">{{ content.field_si_download_link }}</div>
				{% endif %}
           	</div>
            {{content.field_timelineeffect_paragraphs_}}
        </div>
    </div>
</div>
<div class="container pageElements">
	{{content.field_si_page_elements}}
</div>
<div class="sliding-text-container">
    <div class="sliding-text">{{ content.field_si_sliding_text }}</div>
</div>

<div class="col-12">
	<div class="container">
		<div class="heading1 textColorDarkBlue weightBook">
			{{ content.field_explore_solutions_title }}
		</div>
	</div>
</div>

<div class="col-12">
    <div class="solutions solWrapper">{{content.field_solutions_reference}}</div>
</div>

<div class="section container">
    <div class="sectionLabel contact">{{content.field_explore_more_solutions}}</div>
</div>

<div class="col-lg-4 padding-none bottomCTAs scrollBtn">
    <span class="BTNCtaText">{{node.label}} </span>
    {% if selectedColor == 'Blue' %}
        <div class="btnShare cta3 textColorWhite weightBold blueBtn ">{{content.field_si_demo_button}}</div>
    {% elseif selectedColor == 'Green' %}
        <div class="btnShare  cta3 textColorWhite weightBold greenBtn">{{content.field_si_demo_button}}</div>
    {% endif %}
</div>
