{# web/core/themes/stable9/templates/block/block.html.twig #}

{{ attach_library('athex/ask_a_question') }}

<div class="container">
	<div class="webformWrapper_aaq cu">
		<div class="row">
			<div class="col-lg-4 col-12" {{ attributes }}>
				{% if label %}
					<div class="heading1 textColorWhite weightBook block-label">
						{{ label }}</div>
				{% endif %}
				<div class="body2 textColorWhite weightBook ">{{ content.field_aaq_body }}</div>
			</div>
			<div class="col-lg-6 col-12 offset-lg-2">
				<div class="webformRef">{{content.field_webform}}</div>
			</div>
		</div>
	</div>
</div>
