{# web/core/themes/stable9/templates/navigation/links.html.twig #}

<div class="language-selector">
    {% if links -%}
    <ul{{ attributes }}>
        {%- for item in links -%}
        <li{{ item.attributes }}>
            {%- if item.link -%}
                {% set language_code = item.link['#options']['attributes']['hreflang'] | default('') %}
                {% if language_code %}
                    <a href="{{ item.link['#url'] }}" hreflang="{{ language_code }}">{{ language_code[:2] | upper }}</a>
                {% else %}
                    <a href="{{ item.link['#url'] }}">{{ item.link['#title'][:2] | upper }}</a>
                {% endif %}
            {%- elseif item.text_attributes -%}
                <span{{ item.text_attributes }}>{{ item.text }}</span>
            {%- else -%}
                {{ item.text }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>
    {%- endif %}
</div>




