{{ attach_library('athex/banner_with_cta_item') }}

<div class="container-fluid bwcta">
    <div class="row rowbwcta">
        <div class="col-12 col-lg-6 bwctaTextWrapper">
            <div class="bwctaTitle heading1 cb textColorWhite weightBoldBook">{{content.field_bwci_title}}</div>
			<div class="bwctaText cb weightBook body2 textColorWhite">{{content.field_bwct_body}}</div>
        </div>
		<div class="col-12 col-lg-5 bwctaLinks">
            {{ content.field_cta_items }}
			{{ content.field_link_card_item }}
        </div>
    </div>
</div>
