{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="faq-container">
        <div class="faq-item">
          <h2 class="faq-toggle heading6 weightBoldBook textColorPurple">{{content.field_faqi_title}}</h2>
          <div class="faq-content textColorPurple body2">
            <p>{{content.field_faqi_body}}</p>
            {% if content.field_download_file_fi['#items'] is not empty %}
              {% set file = content.field_download_file_fi['#items'].entity %}
              <a href="{{ file_url(file.uri.value) }}" download="{{ file.filename.value }}" target="_blank"><span class="dowloadLabel">{{ content.field_download_label}}</span></a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
