{{ attach_library('athex/title_text') }}

{% set tt_background_color = content.field_tt_backgorund_color.0['#markup']|clean_class %}


<div class="TextTitle {{tt_background_color}}">
	<div class="container TextTitleContainer">
		<div class="row">
			<div class="col-12 col-lg-6 title">
				<span class="subheading weightLight textColorDarkGrey ">{{content.field_sn_uppertitle}}</span>
				<span class="heading1 textColorDarkBlue weightBoldBook">{{content.field_sn_title}}</span>

			</div>
			<div class="col-12 col-lg-6 text">
				<span class="body2 weightBook textColorBlack ">{{content.field_sn_text}}
				<span class="exploreMore">{{content.field_tt_cta}}</span>
			</div>
		</div>
	</div>
</div>
