{{ attach_library('athex/border_with_names') }}

<div class="container">
	<div class="row">
		<div class="col-12">
		<span class="titleBorder heading3 textColorPurple">{{content.field_bwn_title}}</span>
			<table>
				<thead>
					<tr class="firstLine bgColorPurpleLight">
					<th class="textColorPurple7 body4">{{ paragraph.field_first_column_title.value }}</th>
					<th class="textColorPurple7 body4">{{ paragraph.field_second_column_title.value }}</th>
					</tr>
				</thead>
				<tbody>
					{% for item in paragraph.field_border_with_names_item %}
						<tr class="BorderLine">
						<td class="textColorPurple2">
							{% if item.entity.field_first_column_item_link is not empty %}
							<a href="{{ item.entity.field_first_column_item_link.uri }} " class="some-class-for-styling-if-needed" target="_blank">
								{{ item.entity.field_first_column_item.value }}
							</a>
							{% else %}
							{{ item.entity.field_first_column_item.value }}
							{% endif %}
						</td>
						<td class="textColorPurple2">{{ item.entity.field_second_column_item.value }}</td>
					</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
</div>
