{{ attach_library('athex/cta_text_banner_card') }}

<div class="container ctbcBanner">
        <div class="row ctbcBannerRow">
            <div class="col-12 col-lg-4">
                <h2 class="subheading cb weightLight textColorWhite">{{content.field_ctbc_mini_title}}</h2>
                <div class="heading8 cb textColorWhite weightBoldBook">{{content.field_ctbc_title}}</div>
            </div>
            <div class="col-12 offset-lg-2 col-lg-6">
               <div class="ctbcText cb weightBook body2 textColorWhite">{{content.field_ctbc_text}}</div>
                <div class="ctbc-btn cta3 weightBold cb textColorWhite">{{content.field_ctbc_cta}}</div>
            </div>
        </div>
</div>
