<div class="hbiWrapper">{{content.field_hero_banner_im}}
	<div class="gradient-overlay">
		<div class="hbiWrapper_items">
			<div class="hbiExtraComment textColorWhite subheading weightLight">{{content.field_hero_banner_extra_comment}}</div>
			<h2 class="hbiTitle textColorWhite heading2 weightBoldBook">{{content.field_hero_banner_title}}</h2>
			<div class="hbibText textColorWhite body2 weightLight">{{content.field_hero_banner_text}}</div>
			<div class="hbibCta textColorWhite cta3 weightBold">{{content.field_hero_banner_cta}}</div>
		</div>
	</div>
	<div class="hbiCategory textColorWhite weightBoldBook body3">{{content.field_hero_banner_item_category}}</div>
</div></div></div>
