{{ attach_library('athex/timeline') }}

{% set report = content.field_report.0['#markup']|clean_class %}

<div class="row timelineItem {{ report }}">

    <div class="anchor-items">
        <div class="bullet" data-index="0"></div>
        <div class="vertical-bar"></div>
    </div>
		{% if content.field_tli_date|render|trim is not empty %}
    <div class="heading3 textColorDarkBlue weightBoldBook tlidate">{{ content.field_tli_date }}</div>
		{% endif %}

    <div class="col-12 col-lg-6 timeLineItemText">
        {% if content.field_tli_uppertitle %}
            <div class="subheading textColorDarkGrey weightLight tliUpperTitle">{{ content.field_tli_uppertitle }}</div>
        {% endif %}
        {% if content.field_tli_title %}
            <div class="textColorDarkBlue heading8 weightBoldBook tliTitle">{{ content.field_tli_title }}</div>
        {% endif %}
        {% if content.field_tli_body %}
            <div class="textColorBlackDark body2 weightBook tlibody">{{ content.field_tli_body }}</div>
        {% endif %}
        {% if content.field_tli_cta %}
            <div class="timelineItemCta">{{ content.field_tli_cta }}</div>
        {% endif %}
    </div>
    {% if content.field_time_line_item_media_ref %}
        <div class="col-12 col-lg-4 timeLineItemMedia">
            {{ content.field_time_line_item_media_ref }}
        </div>
    {% endif %}
</div>
