{{ attach_library('athex/cta_image_banner') }}


<div class="container">
	<div class="cibWrapper">
		<div class="row">
			<div class="col-lg-3 bigTitle col-12">
				<div class="cibTitle textColorWhite heading1 weightBoldBook">{{content.field_cib_title}}</div>
			</div>
			<div class="col-lg-3 col-12">
				<div class="cibText body2 weightBoldBook textColorWhite">{{content.field_cib_text}}</div>
				<div class="cibCta textColorWhite weightBoldBook cta1">{{content.field_cib_cta}}</div>
			</div>
			<div class="col-lg-6 col-12">
				<div class="cibImage">{{content.field_cib_image}}</div>
			</div>
		</div>
	</div>
</div></div></div>
