{{ attach_library('athex/blue_card_banner') }}

<div class="container bcbBanner">
        <div class="row bcbBannerRow">
            <div class="col-12 col-lg-6 textSide">
                <h2 class="subheading cb weightLight textColorWhite">{{content.field_bcb_mini_title}}</h2>
                <div class="heading8 cb textColorWhite weightBoldBook">{{content.field_bcb_title}}</div>
                <div class="bcbText cb weightBook body3 textColorWhite">{{content.field_bcb_text}}</div>
                <div class="bcb-btn cta3 weightBold cb textColorWhite">{{content.field_bcb_cta}}</div>
            </div>
            <div class="col-12 offset-lg-2 col-lg-4">
               <div class="bcb-image"> {{content.field_bcb_image}}</div>
            </div>
        </div>
    <div class="cardVector"></div>
</div>
