{# modules/contrib/paragraphs/templates/paragraph.html.twig' #}

{{ attach_library('athex/solutionsview_home') }}

<div class="container-fluid solviewhomeContainer">
	<div class="row solviewhome">
		<div class="wrapper">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-5 textColorWhite heading2 weightBoldBook">
						{{content.field_solview_title}}
					</div>
					<div class="col-12 col-lg-4 offset-lg-3">
						<div class="col-12 col-lg-12 textColorWhite body2 weightLight solvhomeBody">
							{{content.field_solview_body}}
						</div>

						<div class="col-12 col-lg-12 textColorWhite cta2 weightBoldBook solvhomeCTA">
							{{content.field_solview_cta}}
						</div>
					</div>

					<div class="col-12">
						<div class="row">
							{{ content.field_paragraph_reference }}
						</div>
					</div>
					<div class="solview-hr-wrapper">
						<hr class="solview-hr">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
