{% set background_color = content.	field_bwi_background_color.0['#markup']|clean_class %}

<div class="container bwiBanner">
	<div class="row bwiBannerRow {{ background_color }} ">
		<div class="col-12 col-lg-6 bwiBannerTitles {{ font_color }} ">
			<div class=" subheading ">{{ content.field_bwi_upper_title }}
			</div>
			<div class="heading1 bwiTitle">{{ content.field_bwi_title }}
			</div>
		</div>
		<div class="col-12 col-lg-6 bwiBannerbody">
			<div class="body3 bwiBody ">{{ content.field_bwi_body }}
			</div>
			<div class=" bwi_button {{ button_color }} cta3 ">{{ content.field_bwi_cta }}
			</div>

		</div>

	</div>
</div>

<style>

.row.bwiBannerRow.greengradient {
    background: linear-gradient(108deg, #00845D -7.7%, rgba(0, 181, 127, 0.76) 145.57%);
}

.bwiBanner {
    margin-bottom: 100px;
    margin-top: 100px;
}



.bwi_button {
    color: white;
    width: fit-content;
    border: 1px solid #FFF;
        padding: 33px 40px;
}

.bwiBannerRow {
	padding: 80px 20px;
	display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.bwiBannerbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


	.bwiTitle{
		padding-bottom:32px;
		padding-top:10px;
	}

	.bwiBody{
		padding-bottom:32px;

	}

.bwi_button.green-button {
	border: 1px solid #00845D;
}

@media(min-width:992px){


	.bwiBannerText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
	}





.bwiBannerImage {
    display: flex;
    max-width: 400px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
	.bwiBannerRow {
    display: flex;
    padding: 56px;
    flex-direction: row;
    justify-content: space-between;
}

	.bwiTitle{
		padding-bottom:25px;
	}

	.bwiBody{
		padding-bottom:40px;
		 max-width: 519px;

	}


}



</style>
