{{ attach_library('athex/collapsible_items') }}

{% set type = content.field_page_type.0['#markup']|clean_class %}

<div class="container-fluid colib">
	<div class="row">
		<div class="col-12">
			<div class="colibWrapper">
			<div class="container">
				<div class="colibTextWrapper">
					<h1 class="colibTitle textColorWhite weightBook heading1">{{content.field_colib_title}}</h1>
					<div class="colibTextCta">
						<div class="colibText textColorWhite weightLight body2">{{content.field_colib_text.0['#text']|striptags|raw}}</div>
						<div class="colibCta textColorWhite weightBoldBook cta1">{{content.field_colib_cta}}</div>
					</div>
				</div>
				<div class="collapsible-container {{type}} desktop">
					{{content.field_colib_items}}
				</div>
				<div class="collapsible-container {{type}} mobile">
					{{content.field_colib_items}}
				</div>
				</div>
				<div class="marquee-container">
    				<span class="marquee-text">{{ content.field_animation_text }}</span>
				</div>
			</div>
		</div>
	</div>
</div>

