{{ attach_library('athex/text_with_hero_image') }}

<div class="container twhiSection">
        <div class="row twhiSectionRow">
        <h2 class="subheading cb weightLight textColorDarkGrey">{{content.field_twhi_mini_title}}</h2>
            <div class="col-12 col-lg-5">
                <div class="twhiTitle heading1 cb textColorPurple weightBoldBook">{{content.field_twhi_title}}</div>
            </div>
            <div class="col-12 col-lg-6 offset-lg-1">
                <div class="twhiText cb weightBook body2 textColorBlackDark">{{content.field_twhi_text}}</div>
            </div>
            <div class="col-12">
               <div class="twhi-image"> {{content.field_twhi_image}}</div>
            </div>
        </div>
</div>
