{{ attach_library('athex/explore_banner') }}
<section class="container exploreBanner">
        <div class="row exploreBannerRow">
            <div class="col-12 col-lg-7 textSide">
                <h2 class="textColorPurpleLight subheading">{{content.field_eb_category}}</h2>
                <span>{{content.field_eb_text}}</span>
                <div class="eb-btn">{{content.field_eb_cta}}</div>
            </div>
            <div class="col-12 col-lg-5">
               <div class="eb-image"> {{content.field_eb_image}}</div>
            </div>
        </div>
</section>
