{{ attach_library('athex/timeline') }}

{% set orientation = content.field_timeline_orientation.0['#markup']|clean_class %}

<div class="container {{ orientation }}">
    {% if content.field_timeline_title %}
        <div class="row timelineTitleText">
            <div class="col-12 col-lg-6">
                <span class="heading1 weightBoldBook textColorDarkBlue">{{ content.field_timeline_title }}</span>
            </div>
        </div>
    {% endif %}

    {% if content.field_timeline_body or content.field_timeline_cta %}
        <div class="row">
            {% if content.field_timeline_body %}
                <div class="col-12 col-lg-5">
                    <span class="weightBoldBook textColorDarkBlue">{{ content.field_timeline_body }}</span>
                </div>
            {% endif %}
            {% if content.field_timeline_cta %}
                <div class="col-12">
                    <div class=""><span class="weightBoldBook textColorDarkBlue timelineItemCta">{{ content.field_timeline_cta }}</span></div>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if content|without('field_timeline_title', 'field_timeline_body', 'field_timeline_cta', 'field_timeline_orientation') %}
        <div class="row timelineitems">
            {{ content|without('field_timeline_title', 'field_timeline_body', 'field_timeline_cta', 'field_timeline_orientation') }}
        </div>
    {% endif %}
</div>
