{{ attach_library('athex/tabs') }}

<div class="tabs-container">
  {% if paragraph.field_t_title.value %}
    <h2>{{ paragraph.field_t_title.value }}</h2>
  {% endif %}
  {% if paragraph.field_t_text.value %}
    <div class="tabs-description">{{ paragraph.field_t_text.value }}</div>
  {% endif %}
  <ul class="tabs-titles">
    {% for item in paragraph.field_tab_item %}
      <li class="tab-title" data-tab-target-id="tab-{{ loop.index }}">{{ item.entity.field_ti_name.value }}</li>
    {% endfor %}
  </ul>
  <hr>
  <div class="tabs-content">
    {% for item in paragraph.field_tab_item %}
      {{content.field_tab_item}}
    {% endfor %}
  </div>
</div>
