<div id="tab-{{ loop.index }}" class="tab-content">
<div class="tabItem">
  <div class="row">
    <div class="col-12 col-lg-7">
      <span class="subheading weightLight textColorDarkGrey">{{ content.field_ti_name }}</span>
      <h3 class="textColorDarkBlue weightBoldBook heading4 ">{{ content.field_ti_title }}</h3>
      <span class="body2 weightBook textColorBlackDark">{{ content.field_ti_text }}</span>
    </div>
    <div class="col-12 col-lg-5">
      <div class="imgTabContent">
        {{ content.field_ti_image }}
      </div>
    </div>
    {% if item.entity.field_ti_cta.uri %}
      <a href="{{ item.entity.field_ti_cta.uri }}">{{ item.entity.field_ti_cta.title }}</a>
    {% endif %}
  </div>
</div>

</div>
