{{ attach_library('athex/testimonial') }}

<div class="testimonial-wrapper container">
	<div class="col-12 testimonial">
	<div class="testimonialPersonImage">
		{{content.field_testimonial_image}}
	</div>
	<div class="testimonialsText">
	<div class="testimonial-body heading5 weightDemi textColorIndigo"> {{ content.field_testimonial }} </div>
		<div class="testimonial-hr-wrapper">
			<hr class="testimonial-hr">
		</div>
		<div class="testimonial-name body2 weightBold textColorBlack"> {{ content.field_testimonial_job_title }} </div>
		<div class="testimonial-job body3 weightBoldBook textColorGrey2"> {{ content.field_testimonial_name }} </div>
		</div>
	</div>
</div>


