{{ attach_library('athex/seminars') }}
<div class="container ViewSeminars">
	<a  href="{{ url }}">
		<div class="row ">
			<div class="titleText">
			{{content.field_sn_title}}
			{{content.field_sn_text}}
			</div>
			<div class="info-card">
				<div class="ViewSeminarImage">{{content.field_semitem_main_image}}</div>
				<h5 class="text-left mt-3 pt-3 textColorIndigo body3 weightBold">SEMINAR</h5>
				<p class="text-left headlineBlack heading6 weightBold">{{label}}</p>
				<div class="info-box d-flex justify-content-between">
					<div>
						<span class="textColorPurpleLight weightDemi body1">{{ content.field_si_start_date['#title'] }}<span>
						<span class="headlineBlack body1"> {{content.field_si_start_date}}</span>
					</div>
					<div class="vertical-divider"></div>
					<div>
						<span class="textColorPurpleLight weightDemi body1">{{ content.field_si_duration['#title'] }}<span>
						<span class="headlineBlack body1"> {{content.field_si_duration}}</span>
					</div>
				</div>
			</div>
		</div>
   </a>
</div>







